*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
#main {
	/*border:2px solid red; */
	/*height:100vh; */
}
#header {
	/*height:60px;*/
	display:flex;
	justify-content:space-between;
	background-color:blue;
}
#header > div {
  display:flex;
  justify-content:center;
  align-items:center;
}
#logo {
  background-color:orange;
  color:white;
  margin-left:20px;
  width:95px; 
}
#logo span {
	color:hsl(110, 70%, 25%);
	border:2px solid hsl(110, 70%, 25%);
	border-radius:60px;
	margin:4px;
	font-weight:bold;
	font-size:20px;

}
#menu {
  color:white;  
  font-family: Arial, Helvetica, sans-serif; 
}
#menu a {
	text-decoration:none;
	
    	
}
.dropdown {
	
}
.myMenu {
	padding:20px 10px;
	border:none;
	outline:none;
	display:block;
	margin:0;
	font-size:16px;
	font-family:inherit;
	font-weight:bold;
	color:white;
}
.dropbtn {
	background-color:blue;
	cursor:pointer;
}
.dropbtn:hover, .dropbtn:focus, #menu > a:hover {
	background-color:red;
}  
#myDropdown {
	
}
.dropdown-content {
	display:none;
	position:absolute;
	z-index:1;
	background-color: #f1f1f1;
	min-width: 120px;
	text-decoration:none;
	
}
.dropdown-content a {
	display:block;
	color:black;
	padding:12px 26px;
	text-align:left;
	/*border:2px solid;*/
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.show {
  display:block;  
}
#content {
	height:300px;
	
	
}
#contentcenter {
	
	max-width:350px;
	text-align:center;
	margin:auto;
}
#engru {
	display:flex;
	justify-content:center;
	margin:10px;
}
#engru > button {
	background-color:hsl(150,50%,80%);
	color:black;
	width:50px;
}
#buttons {
	margin-top:20vh;
	
}
#display,#secdisplay {
	margin:80px 10px 10px 10px;
	font-size:20px;
}
#buttons > button{
	height:50px;
	width:50%;
	
	
}