#main {
	border:2px solid red;
	/*height:100vh; */
}
#header {
	height:60px;
	display:flex;
	justify-content:space-between;
	background-color:blue;
}
#header > div {
  display:flex;
  justify-content:center;
  align-items:center;
}
#menu {
  border:2px solid white;
  color:white;  
}
#menu a {
	color:white;
}
#logo {
  background-color:orange;
  color:white;
  margin-left:20px;
  width:80px; 
}
#content {
	height:300px;
}
#engru {
	display:flex;
	justify-content:center;
	margin:10px;
}
#engru > button {
	background-color:hsl(150,50%,80%);
	color:black;
}
#buttons {
	margin-top:20vh;
	
}
#display,#secdisplay {
	margin:80px 10px 10px 10px;
	font-size:20px;
}
#buttons > button{
	height:50px;
	width:50%;
	
	
}